h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}

body, p, a {
  font-family: 'Raleway', sans-serif;
}


body {
  width: 100vw;
  height: auto;

}


#form {
  width: 100vw;
  height: auto;
  padding: 2rem 0;
  background: url(img/bg.jpg) repeat 0 0;
}


#main {
  position: relative;
  width:50vw;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #F5F5F5;
}


#main form {
  width:40vw;
  margin: 3rem auto;
  padding: 2rem;
  background: #F5F5F5;
  border: solid #DDD 0.1rem;
  border-radius: 0.2rem;
}


#main h1 {
  position: absolute;
  top: 2%;
  left: 12%;
  width:40% ;
  padding: 1rem;
  font-size: large;
  background-color: #F5F5F5;
  color: #000;
  text-align: center;
  border: solid #ddd 0.1rem;
  border-radius: 0.2rem;
}

#main form label, input[type=text], textarea {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem 0;
}

#main form input[type=text], textarea {
  border: solid #DDD 0.1rem;
  border-radius: 0.2rem;
}

#main form input[type=submit] {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #6495ED;
  color: #F5F5F5;
}

#main form input[type=submit]:hover {
  background-color: #6495ED;
}

#main .output {
  text-overflow: clip;
}

#main .output p {
  width: 40vw;
  font-family: 'Raleway', sans-serif;

}

#footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #ddd;
}

#footer .socialmedia img {
  padding-right: 1rem;
  width: 2rem;
  height: auto;
}

/* Tablets and Desktop Screens */
@media only screen and (min-width: 35rem) {
  body {
    line-height: 1.5rem;
  }

  #main form input[type=submit] {
    width: 25%;
  }

  #main h1 {
    font-size: x-large;
  }

  #footer > div {
    width: 45%;
    padding-left: 5%;
  }
} 